# los archivos que git debe de ignorar
whimsical_preEntrega.png
# Ignorar archivos de texto txt
*.txt
README.md
medios/Git-2.42.0.2-64-bit.exe

# Ignorar archivos css de mas
css/style.css

# Ignorar archivo SASS
sass/estilos.scss

# Ignorar archivo Figuras, sera usado en proxima entrega
pages/figuras.html